################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/CaffStore/CaffStore.Api/Resources/
/Parser
bin/
obj/
/CaffStore/CaffStore.Api/outgif.gif
/CaffStore/CaffStore.Api/out.json