################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VIHIMA06-hf/v16
/CaffStore/CaffStore.Api/Resources/Images/2.caff
