<div *ngIf="images.length === 0" class="d-flex justify-content-center">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="images.length > 0">
  <app-upload></app-upload>
  <form class="form-inline md-form mr-auto mb-4">
    <input
      class="form-control mr-sm-2 col-md-10"
      [(ngModel)]="searchText"
      type="text"
      placeholder="Keresés"
      aria-label="Keresés"
      name="search"
    />
    <button
      mat-raised-button
      size="sm"
      color="elegant"
      rounded="true"
      class="my-0 waves-light"
      mdbWavesEffect
      type="submit"
      (click)="loadImages()"
      class="my-2 col-md2"
    >
      Keresés
    </button>
  </form>
  <div class="row">
    <div class="col-md-3" *ngFor="let image of images">
      <app-image *ngIf="image.gifRoute" [image]="image"></app-image>
    </div>
  </div>
</div>
